.container{
    height:20vh;
    background-color: #cf8f2e;
    display: flex;
    align-items:center;
    justify-content:center;
}
.title{

    font-size:24px;
    color:whitesmoke;
    max-width:40vw;
}
.total{
    border:2px solid darkred;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: white;
    color:darkred;
    margin:20px
}
@media only screen and(min-width:768px){
.title{
    font-size:36px;

}
.total{
    font-size: 36px;
}
}